# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# File backups
*~

# Test videos
*.avi

# Pictures
*.jpg
*.jpeg
*.JPG
*.JPEG
*.png

# Executables
gauss
detector

# QtCreator
foreground-detector.creator.user